body {
  margin: 0px;
  padding: 0px;
}
* {
  font-family: inter;
}
header {
  background-color: #1c1c1c;
  height: 80px;
  color: white;
}
nav {
  color: white;
  background-color: #1c1c1c;
  height: 700px;
}
img {
  width: 16px;
}

@media (max-width: 800px) {
  #dados {
    width: 300px;
  }
  #inputCpf {
    width: 120px;
  }
  #btnBuscar {
    width: 120px;
  }
}
